.c-btn {
  all: unset;
  display: table;

  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1.5rem;
  color: map-get($neutral-colors, light);
  font-size: 1rem;

  border: 2px solid map-get($neutral-colors, light);
  border-radius: 1rem;
  cursor: pointer;
}

.c-btn--icon {
  display: flex;
  align-items: center;

  .c-btn__symbol {
    margin-right: 0.5rem;
    height: 1rem;
    stroke-width: 2px;
    stroke: map-get($neutral-colors, light);
  }
  &:hover {
    color: $alpha-color;
    background: map-get($map: $neutral-colors, $key: light);

    & .c-btn__symbol {
      stroke: $alpha-color;
    }
  }
}
